*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.main {
  height: 100vh;
  border: 1px solid rgb(34, 33, 33);
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
header {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  background-color: darkgrey;
}

.card-container {
  display: flex;
}

.card {
  display: block;
  text-decoration: none;
  margin: 2rem 0;
  padding: 2rem 3rem;
  background-color: lightslategrey;
  color: #fff;
}
